<div id="main">
<%= image_tag "main-img.jpg", alt: "main photo" %>
</div>

<div id="article_wrap">
  <h2>Blogs</h2>
  
  
  <div id="article_list">
    <%= render @blogs %>
  </div>
  
  
  <%= render 'layouts/sidebar_ranking' %>
</div>